body #WorldInfo > .stwid--body {
  display: none;
}
body.stwid--.stwid--nonDiscord #WorldInfo {
  width: 100vw;
  height: calc(100dvh - var(--topBarBlockSize));
  max-height: unset;
}
body.stwid-- #WorldInfo {
  flex-direction: column;
  overflow: hidden;
}
body.stwid-- #WorldInfo[style*="display: block;"] {
  display: flex !important;
}
body.stwid-- #WorldInfo #wi-holder {
  display: none;
}
body.stwid-- #WorldInfo > .stwid--body {
  flex: 1 1 auto;
  display: flex;
  gap: 1em;
  overflow: hidden;
}
body.stwid-- #WorldInfo .stwid--list {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
}
body.stwid-- #WorldInfo .stwid--list .stwid--controls {
  display: flex;
  gap: 0.25em;
  align-items: center;
}
body.stwid-- #WorldInfo .stwid--list .stwid--controls .stwid--active {
  color: var(--SmartThemeQuoteColor);
}
body.stwid-- #WorldInfo .stwid--list .stwid--filter {
  display: flex;
  gap: 0.75em;
  align-items: center;
}
body.stwid-- #WorldInfo .stwid--list .stwid--filter .stwid--searchEntries,
body.stwid-- #WorldInfo .stwid--list .stwid--filter .stwid--filterActive {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books {
  flex: 1 1 auto;
  overflow: auto;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book {
  border-bottom: 2px solid var(--SmartThemeBorderColor);
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book.stwid--filter-active,
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book.stwid--filter-query {
  display: none;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book:has(.stwid--entryList .stwid--entry.stwid--active) .stwid--head {
  background-color: var(--white20a);
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--head {
  display: flex;
  gap: 0.5em;
  background-color: rgb(var(--primaryBgCol, var(--SmartThemeBlurTintColor)));
  position: sticky;
  top: 0;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--head .stwid--title {
  flex: 1 1 auto;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--head .stwid--actions {
  display: flex;
  gap: 0.25em;
  align-items: center;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--head .stwid--actions .stwid--action {
  cursor: pointer;
  opacity: 0.5;
  transition: 200ms;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--head .stwid--actions .stwid--action:hover {
  opacity: 1;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--entryList.stwid--isCollapsed {
  display: none;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--entry {
  display: flex;
  gap: 0.5em;
  border-bottom: 2px solid var(--SmartThemeBorderColor);
  margin-left: 1em;
  overflow: hidden;
  transition: 200ms;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--entry.stwid--filter-query {
  display: none;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--entry:hover,
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--entry.stwid--active {
  background-color: var(--white20a);
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--entry:hover .stwid--status,
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--entry.stwid--active .stwid--status {
  opacity: 1;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--entry:has(.stwid--enabled.fa-toggle-off) {
  opacity: 0.5;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--entry .stwid--body {
  flex: 1 1 auto;
  cursor: pointer;
  overflow: hidden;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--entry .stwid--body .stwid--comment {
  height: 1lh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--entry .stwid--body .stwid--key {
  color: var(--SmartThemeEmColor);
  font-size: smaller;
  font-style: italic;
  height: 1lh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--entry .stwid--status {
  align-self: center;
  display: flex;
  gap: 0.5em;
  align-items: baseline;
  opacity: 0.5;
  transition: 200ms;
}
body.stwid-- #WorldInfo .stwid--list .stwid--books .stwid--book .stwid--entry .stwid--status .stwid--enabled {
  color: var(--SmartThemeQuoteColor);
  cursor: pointer;
}
body.stwid-- #WorldInfo .stwid--editor {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
body.stwid-- #WorldInfo .stwid--editor:empty::after {
  content: "\f558";
  font-family: "Font Awesome 6 Free";
  font-size: 20em;
  opacity: 0.125;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
body.stwid-- #WorldInfo .stwid--editor #wiActivationSettings {
  flex-wrap: nowrap;
}
body.stwid-- #WorldInfo .stwid--editor #wiActivationSettings #wiCheckboxes {
  flex: 0 0 auto;
  width: unset;
}
body.stwid-- #WorldInfo .stwid--editor.stwid--focus #WIEntryHeaderTitlesPC,
body.stwid-- #WorldInfo .stwid--editor.stwid--focus .world_entry *:not(:has([name="content"])):not([name="content"]) {
  display: none;
}
body.stwid-- #WorldInfo .stwid--editor.stwid--focus .stwid--unfocusToggle {
  display: flex;
}
body.stwid-- #WorldInfo .stwid--editor .stwid--unfocusToggle {
  display: none;
}
body.stwid-- #WorldInfo .stwid--editor .stwid--focusToggle {
  margin-left: 1em;
}
body.stwid-- #WorldInfo .stwid--editor .world_entry,
body.stwid-- #WorldInfo .stwid--editor .world_entry_form,
body.stwid-- #WorldInfo .stwid--editor .inline-drawer {
  height: 100%;
}
body.stwid-- #WorldInfo .stwid--editor .inline-drawer {
  display: flex;
  flex-direction: column;
}
body.stwid-- #WorldInfo .stwid--editor .drag-handle,
body.stwid-- #WorldInfo .stwid--editor .inline-drawer-toggle {
  display: none;
}
body.stwid-- #WorldInfo .stwid--editor .inline-drawer-content {
  flex: 1 1 auto;
  display: flex !important;
  flex-direction: column;
}
body.stwid-- #WorldInfo .stwid--editor .inline-drawer-content > :nth-child(1) {
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
}
body.stwid-- #WorldInfo .stwid--editor [name="contentAndCharFilterBlock"] {
  flex: 1 1 auto !important;
}
body.stwid-- #WorldInfo .stwid--editor [name="content"] {
  flex: 1 1 auto;
}
body.stwid-- #WorldInfo .stwid--editor [name="WIEntryBottomControls"] {
  display: none;
}
.stwid--blocker {
  position: fixed;
  inset: 0;
  z-index: 30000;
}
.stwid--blocker .stwid--menu {
  position: fixed;
  position-anchor: --stwid--ctxAnchor;
  position-area: bottom right;
  position-try-fallbacks: flip-block, flip-inline;
  margin-top: -1lh;
  filter: drop-shadow(1px 1px 2px var(--black50a));
  z-index: 30000;
  overflow-x: clip;
  overflow-y: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondaryBg, var(--SmartThemeBlurTintColor));
}
.stwid--blocker .stwid--menu .stwid--item {
  opacity: 0.5;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: 200ms;
  display: flex;
  gap: 0.5em;
  align-items: baseline;
  padding: 5px;
}
.stwid--blocker .stwid--menu .stwid--item:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.0625);
}
.stwid--blocker .stwid--menu .stwid--item .stwid--icon {
  flex: 0 0 auto;
  width: 1.25em;
  text-align: center;
}
.stwid--blocker .stwid--menu .stwid--item .stwid--label {
  flex: 1 1 auto;
}
